*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
    
}
body{
   background-color: black;
}
h1{
    color: white;
   text-align: center;
   padding: 40px;
}
.timer{
    background-color: rgb(26, 26, 26);
    margin: auto;
    padding: 40px;
    width: 600px;
    height: 400px;
    color: white;
}
.timer p{
    font-size: 3.3em;
    text-align: center;
    padding: 40px;
   
}
.display{
    width: 500px;
    height: 200px;
    
    margin: auto;
    
   
    
}
.btn{
    padding: 60px;
    text-align: center;

}
.play{
    padding: 16px;
    margin: 8px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.pause{
    padding: 16px;
    margin: 8px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    
}
.reset{
    padding: 16px;
    margin: 8px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
ul{
    text-align: center;

}
li{
    
    font-size: 1.2em;
    list-style: none;
}