*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
    
}
body{
   background-color: black;
}
h1{
    color: white;
   text-align: center;
   padding: 40px;
}
.timer{
    background-color: rgb(26, 26, 26);
    margin: auto;
    padding: 40px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: white;
}
.timer p{
    font-size: 3.3em;
    text-align: center;
   
}
.display{
  
    margin-top: 20px;
    
   
    
}
.btn{
    display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: -10px;


}
.play{
    padding: 16px;
    margin: 8px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.pause{
    padding: 16px;
    margin: 8px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    
}
.reset{
    padding: 16px;
    margin: 8px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
